body {
  background-color: #1d1e24;
  font-family: "Fira Code";
}

.navbar {
  background-color: #23262b;
  color: #fcfcfc;
}

.mainInfo {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #23262b;
  color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 10px 10px 8px #141518;
}

.simpleMenu {
  background-color: #23262b;
  border-radius: 20px;
  color: #fcfcfc;
  box-shadow: 10px 10px 8px #141518;
}

.infoPanel {
  background-color: #23262b;
  border-radius: 20px;
  color: #fcfcfc;
  box-shadow: 10px 10px 8px #141518;
}

.simpleFooter {
  background-color: #1d1e24;
  color: #fcfcfc;
}

.divButton {
  margin: 8%;
  padding: 8%;
  background-color: #2e6bf9;
  border-radius: 20px;
  font-family: "Oswald";
  font-size: 16px;
  display: block;
}

img {
  height: 275px;
  position: relative;
  top: -50px;
  z-index: 99;
  border: 13px solid #23262b;
  border-radius: 55px;
}

.name {
  margin: auto;
  width: 100%;
  font-size: 38px;
  font-family: "Oswald";
}

.rowInfo {
  height: 50%;
}

@media screen and (max-width: 1200px) {
  img {
    height: 245px;
    position: relative;
    top: -40px;
    z-index: 99;
    border: 11px solid #23262b;
    border-radius: 55px;
  }

  .rowInfo {
    height: 50%;
  }

  .smallInfo {
    font-size: 13px;
  }

  .name {
    margin: auto;
    right: -20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .divButton {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 6%;
    width: auto;
    background-color: #2e6bf9;
    border-radius: 20px;
    display: block;
    font-size: 15px;
  }

  img {
    height: 220px;
    position: relative;
    top: -35px;
    z-index: 99;
    border: 11px solid #23262b;
    border-radius: 55px;
  }

  .smallInfo {
    margin: 1%;
  }

  .name {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .mainInfo {
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    background-color: #23262b;
    color: #fcfcfc;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #141518;
  }

  .simpleMenu {
    background-color: #23262b;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fcfcfc;
  }

  .infoPanel {
    background-color: #23262b;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #fcfcfc;
  }

  .divButton {
    display: inline-block;
    margin: 1%;
    padding: 2%;
    background-color: #2e6bf9;
    border-radius: 20px;
    width: 16%;
    font-size: 14px;
  }

  img {
    height: 190px;
    position: relative;
    top: -35px;
    z-index: 99;
    border: 11px solid #23262b;
    border-radius: 45px;
  }

  .smallInfo {
    top: -20px;
    margin-top: auto;
  }

  .name {
    top: -25px;
    z-index: 99;
    position: relative;
    vertical-align: middle;
    right: auto;
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .rowInfo {
    display: block;
  }

  .smallInfo {
    margin-left: auto;
    margin-right: auto;
  }

  .infoPanel {
    background-color: #23262b;
    border-radius: 20px;
    color: #fcfcfc;
  }

  .divNavButton {
    text-align: center;
    font-size: 14px;
    font-family: "Oswald";
    display: inline-block;
    padding: 5%;
    margin: 1%;
    width: 60px;
    background-color: #2e6bf9;
    border-radius: 20px;
  }

  .name {
    top: -30px;
    z-index: 99;
    position: relative;
    vertical-align: middle;
    font-size: 23px;
  }
}
